# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\0zf实验\batch_pn_HIT_addCosNLayers_cosent_whitening\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
